@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nohemi';
  src: url('/public/fonts/Nohemi.ttf') format('truetype');
  font-display: swap;
  descent-override: 0%;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('/public/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf')
    format('truetype');
  font-display: swap;
  descent-override: 0%;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  margin: auto;
  font-family: 'Nohemi';
  font-weight: 400;
  background-color: #1e1e1e;
  overflow-x: clip;
  descent-override: 0%;
}

* {
  font-family: 'Nohemi';
}
